*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.footer{
    background-color: #2A254B;
    margin-top: -4px;
    color: rgb(205, 207, 208);
    font-family: Montserrat;
}
.uls{
    display: flex;
    justify-content: space-between;
    width: 98%;
    margin: 0 auto;
    padding: 58px 82px;
}
.uls li{
    list-style: none;
    margin: 10px;
}
.list body{
  font-size: 15px;
}

.inp input{
    padding: 17px 32px;
    margin-top: 18px;
    background-color: #FFFFFF26;
    border: transparent;
}
.inp button{
    padding: 17px 32px;
    border: none;
    
}